<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/homeStyle.css">
    <title>Chat App</title>
</head>

<body>
    <div class="inner">
        <header>

        </header>
    </div>

    <div class="outer">
        <div class="row">
            <div class="col-3 sidebar">
                <div class="head group">
                    Groups
                    <div class="logo-img"><img class="main-img" src="/logo/message.png"></div>
                </div>
              
                <div class="grp-full">
                    <div class="grp-name group">
                        <div class="logo-img"><img class="main-img" src="/logo/group.png"></div>
                        <div class="name-grp"> Group Name</div>
                    </div>
                    <h5 id="grpid" class="grp-list"></h5>
                </div>
                <div class="grp-full">
                    <div class="grp-name group">
                        <div class="logo-img"><img class="main-img" src="/logo/people.png"></div>
                        <div class="name-grp">Group Members</div>
                    </div>
                    <div id="toemp" class="grp-scroll">
                    </div>
                    </div>


                </div>
            </div>
            <div class="col-9">
                <div class="chatbar">
                    <div class="head">
                        <div class="main-img"
                            style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"></div>
                        <div id="hdname" class="head-name"></div>
                    </div>

                    <div class="messagearea">
                        <div class="msg leftarea">
                       
                     
                        </div>
                        <div class="msg rightarea">
                           
                        </div>
                    </div>
                </div>


                <form class="msger-inputarea">
                    <input type="text" class="msger-input" id="message" placeholder="Enter your message...">
                    <button type="submit" class="msger-send-btn">Send</button>
                </form>
            </div>
        </div>
    </div>


    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.min.js"
        integrity="sha512-BHtomM5XDcUy7tDNcrcX1Eh0RogdWiMdXl3wJcKB3PFekXb3l5aDzymaTher61u6vEZySnoC/SAj2Y/p918Y3w=="
        crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/client.js"></script>
    <!-- AS WE DECLARE express.static IN app.js on give relative path from static folder -->
</body>

</html>